body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

h1, h2, h3, .testimonials-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
}

p {
  color: #8f8f8f;
}

/* Headings */

.title-heading {
  font-size: 3.5rem;
  line-height: 1.5;
}

.features-heading {
  font-size: 1.5rem;
}

.cta-heading {
  color: white;
  font-size: 2.5rem;
  line-height: 1.5;
}

.pricing-heading {
  font-size: 2.25rem;
}
/* Padding */

.padding {
  padding: 4% 7%;
}

/*Background Colors */

.light-pink {
  background-color: #ef8172;
}

.pink {
  background-color: #ff4c68;
}

.white {
  background-color: white;
}

/* Title */

#title {
  text-align: left;
  color: white;
}

/* Navigation Bar */

.navbar {
  padding: 10px 0;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.25rem;
}

.nav-link {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
}

.nav-item {
  padding: 0 18px;
}

/* Header */

.app-img {
  margin-left: 5rem;
  width: 60%;
  transform: rotate(25deg);
  position: relative;
}

.container-fluid {
  padding: 0 2%;
}

.download-button {
  margin: 5% 3% 5% 0;
}

.title-text {
  padding-top: 4.5rem;
  padding-bottom: 2.5rem;
}

/* Features */

#features {
  padding: 7% 7%;
}

#features i {
  margin: 1rem;
  color: #ef8172;
}

#features i:hover {
  color: #ff4c68;
}

/* Testimonials */

.press-img {
  width: 20%;
  margin: 2% 2% 4%;
}

#testimonials {
  color: white;
}

.testimonials-img {
  width: 10%;
  border-radius: 90%;
  margin: 2%;
}

/* Pricing */

.pricing-col {
  padding: 3%;
}

/* Footer */

.contact {
  margin: 1rem;
}

.contact-link {
  color: #8f8f8f;
}

.contact-link:hover {
  color: #ff4c68;
}

/* Media Querry */

@media (max-width: 992px) {
  .app-img {
    margin-left: 0;
    transform: rotate(0deg);
    position: relative;
  }
  #title {
    text-align: center;
  }
}
